pyzmq==17.0.0
uvloop==0.10.2
setproctitle==1.1.10
configparser==3.5.0
aiohttp==3.3.2
asyncpg==0.16.0


git+https://github.com/bitaps-com/pybtc@analytica

colorlog==3.1.4
git+https://github.com/bitaps-com/aiojsonrpc
sortedcontainers






















































































































































































































































