#!/bin/sh
parentdir="$(dirname "$(pwd)")"
docker container stop btcapi-engine
docker container rm btcapi-engine
docker run --rm \
           --name btcapi-engine \
           -v $parentdir/config:/config/ \
           -v $parentdir/data/socket/:/var/run/postgresql/ \
           -v $parentdir/app/:/app/ \
           --net=host \
           -it btcapi-engine
