docker container stop btcapi-engine
docker container rm btcapi-engine
docker build -t btcapi-engine .
docker run --rm \
           --name btcapi-engine \
           -v /home/ubuntu/btcapiserver/config:/config/ \
           -v /home/ubuntu/btcapiserver/data/socket/:/var/run/postgresql/ \
           --net=host \
           -it btcapi-engine